<div class="container mt-5 py-3">
  <div>
    <h5 *ngIf="this.user && this.user._id === this.id; else not">Welcome
      <b>{{ user !== undefined ? user.name : 'back'}}</b>.</h5>
    <ng-template #not>
      <h5>{{commentLength > 0 ? comments[0].creatorName : postLength > 0 ? posts[0].creatorName : 'Great poster'}}'s
        profile</h5></ng-template>
    <br/>
    {{ user !== undefined && this.user._id === this.id ? 'You have' : postLength > 0 ? posts[0].creatorName : commentLength > 0 ? comments[0].creatorName : ''}}
    posted <b>{{postLength}}</b> time(s)
    and commented
    <b>{{commentLength}}</b> time(s).
  </div>
  <hr/>
  <div>
    All Posts: {{postLength}}
  </div>
  <app-post-tile *ngIf="postLength > 0" [posts]="posts"></app-post-tile>
  <hr/>
  <div>
    All Comments: {{commentLength}}
  </div>
  <div *ngIf="commentLength > 0; else noComments">
    <div *ngFor="let comment of comments" class="comment m-1">
      <div class="row">
        <div class="col-6">
          <a routerLink="/post/{{comment.post}}">Post Link</a>
        </div>
        <div class="col-6 text-right">
          <p>{{comment.createdAt.substring(0, 10)}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b>{{comment.text}}</b>
        </div>
      </div>
    </div>
    <hr/>
  </div>
  <ng-template #noComments>
    <h5 class="m-1 text-muted text-center">No Comments</h5>
  </ng-template>
</div>
